#root {
  position: absolute;
  font-family: 'Courgette', cursive;
  font-size: large;
  text-align: center;
  border: 5px solid black;
  border-radius:20px;
  cursor: move;
  background-color: #f32167;
  color: #fff;
}
h3{
  font-family: 'Courgette', cursive;
  text-align: center;

}